
<div class="user-edit-class" *ngIf="identity">
  <h3>Detalle de salon</h3>
  <input type="button" (click)="updateTables(idSalon)" value="Nuevo" />
  <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>

    <div class="clearfix"></div>
    <div id="contentSalon" cdkDrop class="example-boundary" style="float: left;margin-right: 5px;" >

    </div>

</div>
<style>
.example-box, .cdk-drag {
  float: left;
  width: 50px;
  height: 50px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(199, 192, 192);
  border-radius: 4px;
  margin-right: 25px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;

  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#contentSalon{
  position: absolute;

}

.contentEditSalon{
  position: absolute;
  margin-top:400px;
  padding-bottom: 100px;

}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 600px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
  background-image: url('../../../assets/images/images/Plano.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.example-box:hover {
  background-color: red;
}

</style>
