

<div class="user-edit-class" *ngIf="identity" >
  <h1>{{titulo}}</h1>
  <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>
  <!--Formulario de edicion de datos-->


      <form #usertUpdateForm="ngForm" (submit)="onSubmit()" class="col-md-7">
          <p>
            <label>First Name</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name"
            class="form-control" required />
            <span style="color: red;"
            *ngIf="!name.valid && name.touched">Debe ingresar el nombre</span>
          </p>
          <p>
            <label>Last Name</label>
            <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname"
            class="form-control" required />
            <span style="color: red;"
            *ngIf="!surname.valid && surname.touched">Debe ingresar el apellido</span>
          </p>
          <p>
            <label>Email</label>
            <input type="email" #email="ngModel"
            name="email" disabled [(ngModel)]="user.email"
            class="form-control" required />
            <span style="color: red;"
            *ngIf="!email.valid && email.touched">Debe Ingresar el Email</span>
          </p>
          <div class="image_for_edit" *ngIf="user.image && user.image != 'null'" >
            <img src="{{url + 'get-image-user/'+ user.image}}" style="width: 75px;" >
          </div>
          <p>
            <label>Upload Image</label>
            <input type="file" placeholder="Image file JPG, PNG..." (change)="fileChangeEvent($event)" >
          </p>
          <!--<p>
            <label>Password</label>
            <input type="password" #password="ngModel" name="password"
            [(ngModel)]="user.password" class="form-control" required />
            <span style="color: red;"
            *ngIf="!password.valid && password.touched">Debe Ingresar la contraseña</span>
          </p>-->
          <input type="submit" value="Actualizar mis datos" class="btn btn-primary" >
        </form>

</div>
